Groups/Roles: 
<select ng-model="$ctrl.location" ng-change="$ctrl.onLocationChange()">
	<option ng-repeat="group in $ctrl.groups" value="{{group}}">{{group}}</option>
</select>
<ng-view></ng-view>
<br />
<br />
<generic-directive metadata="$ctrl.metadata" prop="name" data="$ctrl.data[0]"></generic-directive>
<generic-directive metadata="$ctrl.metadata" prop="dateofbirth" data="$ctrl.data[0]"></generic-directive>
<br />
<br />
<generic-directive metadata="$ctrl.metadata" prop="name" data="$ctrl.data[1]"></generic-directive>
<generic-directive metadata="$ctrl.metadata" prop="dateofbirth" data="$ctrl.data[1]"></generic-directive>
<br />
<br />
<generic-directive metadata="$ctrl.metadata" prop="name" data="$ctrl.data[2]"></generic-directive>
<generic-directive metadata="$ctrl.metadata" prop="dateofbirth" data="$ctrl.data[2]"></generic-directive>
