<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="EnvironmentSettings" type="Drive.Framework.Configuration.EnvironmentSettingsHandler, Drive.Framework, Version=8.0.0.0,Culture=neutral, PublicKeyToken=f291d57f641e84e4"/>
  </configSections>
  <EnvironmentSettings activeEnvironment="Local_Dev1">
    <add key="LogDirectory" value="C:\DriveLogs"/>
    <add key="LogTargets" value="RollingFile"/>
    <add key="LogMaxSize" value="5MB"/>
    <add key="LogBackupCount" value="5"/>
    <add key="LogFileName" value="Drive.Fuse.WebApi"/>
    <Environment name="Local_Dev1">
      <add key="RunLocal" value="true"/>
      <add key="HOST" value="localhost"/>
      <add key="LogShowTypes" value="Exception|Error|Warning|Info|Debug"/>
      <add key="LogTargets" value="RollingFile|Console"/>
      <add key="STANDARDS" server="DAC30144DSQL01\ORIGINATIONS" database="STANDARDS" user="sql_standards" password="[[EnRavo1sGP7sowpLHZeIrQ==]]"/>
      <add key="DecisionRenderingEngine" server="DAC30144DSQL01\ORIGINATIONS" database="Auto_DecisionRenderingEngine" user="sql_decisionrenderingengine" password="[[ZrQuMnQjF0gV7QISu7EuVQ==]]"/>
      <add key="VENDOR" server="DAC30144DSQL01\ORIGINATIONS" database="VENDOR" user="sql_vendor" password="[[ov6U4+rAi7QRaNPqFJHjhw==]]"/>
      <add key="CREDIT" server="DAC30144DSQL01\ORIGINATIONS" database="CREDIT" user="sql_credit" password="[[V94n5dbTUXpq9E92z7TajTajplAO7ebtgyColUAsuJ0=]]"/>
    </Environment>
    <Environment name="Local_Tst1">
      <add key="RunLocal" value="true"/>
      <add key="HOST" value="localhost"/>
      <add key="LogShowTypes" value="Exception|Error|Warning|Info|Debug"/>
      <add key="LogTargets" value="RollingFile|Console"/>
      <add key="DecisionRenderingEngine" server="DAC30144TSQL01\ORIGINATIONS" database="Auto_DecisionRenderingEngine" user="sql_decisionrenderingengine" password="[[PB4jEYdqoXk+qMg8KLoJ8Q==]]"/>
      <add key="STANDARDS" server="DAC30144TSQL01\ORIGINATIONS" database="STANDARDS" user="sql_standards" password="[[71M+NMABLEUGZyXs8f84JZINAUpF9LCcBUVf++HK+DY=]]"/>
      <add key="VENDOR" server="DAC30144TSQL01\ORIGINATIONS" database="VENDOR" user="sql_vendor" password="[[pg6Vs7A8Cqlg2WKUw3nvVFDNLFdLPu2G74/OiLK0pgU=]]"/>
      <add key="CREDIT" server="DAC30144TSQL01\ORIGINATIONS" database="CREDIT" user="sql_credit" password="[[ElzNgA+SVmdrzG5MxVShMA==]]"/>
    </Environment>
    <Environment name="Dev1">
      <add key="RunLocal" value="false"/>
      <add key="LogShowTypes" value="Exception|Error|Warning|Info|Debug"/>
      <add key="HOST" value="DAC30144DAPP01"/>
      <add key="STANDARDS" server="DAC30144DSQL01\ORIGINATIONS" database="STANDARDS" user="sql_standards" password="[[EnRavo1sGP7sowpLHZeIrQ==]]"/>
      <add key="DecisionRenderingEngine" server="DAC30144DSQL01\ORIGINATIONS" database="Auto_DecisionRenderingEngine" user="sql_decisionrenderingengine" password="[[ZrQuMnQjF0gV7QISu7EuVQ==]]"/>
      <add key="VENDOR" server="DAC30144DSQL01\ORIGINATIONS" database="VENDOR" user="sql_vendor" password="[[ov6U4+rAi7QRaNPqFJHjhw==]]"/>
      <add key="CREDIT" server="DAC30144DSQL01\ORIGINATIONS" database="CREDIT" user="sql_credit" password="[[V94n5dbTUXpq9E92z7TajTajplAO7ebtgyColUAsuJ0=]]"/>
    </Environment>
    <Environment name="Tst1">
      <add key="RunLocal" value="false"/>
      <add key="LogShowTypes" value="Exception|Error|Warning|Info|Debug"/>
      <add key="HOST" value="DAC30144TAP001"/>
    </Environment>
    <Environment name="Staging">
      <add key="HOST" value="stagingapp-vip.app.corpint.net"/>
    </Environment>
    <Environment name="Performance">
      <add key="HOST" value="PerformanceAppWebDMZ-vip.app.corpint.net"/>
    </Environment>
    <Environment name="Production">
      <add key="HOST" value="AppWebInternal-vip.app.corpint.net"/>
    </Environment>
    <add key="Drive.Fuse.Server.FuseFacade, Drive.Fuse.Server" url="http://%%HOST%%/drive/FuseServer/FuseFacade.soap"/>
    <add key="Drive.Framework.Security.SecurityFacade, Drive.Framework" url="http://%%HOST%%/drive/Framework/SecurityFacade.soap"/>
  </EnvironmentSettings>
  <appSettings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>